body{
	margin: 5% 5% 5% 5%;
	font-family: segoe ui;
}
th, td{
	text-align: left;
	font-size: 20pt;
}
input[name="update"]{
	border-bottom: 2px solid #4f81bd;
	outline: none;
	font-size: 20pt;
}
input[name="update"]:focus{
	border-bottom: 2px solid #c0504d;
}
a{
	text-decoration: none;
	font-size: 15pt;
	border: none;
	background-color: grey;
	color: black;
	padding: 5px 10px 5px 10px;
}
a:hover{
	color: white;
}
input[type="submit"]{
	border: 2px solid #385d8a;
	background-color: #4f81bd;
	color: white;
	cursor: pointer;
	outline: none;
	font-size: 12pt;
}
input[type="submit"]:hover{
	background-color: #385d8a;
	color: white;
}
input[type="text"]{
	border: none;
	border-bottom: 2px solid #4f81bd;
	outline: none;
	font-size: 14pt;
}
select[name="Type"]{
	border: none;
	border-bottom: 2px solid #4f81bd;
	outline: none;
	font-size: 14pt;
}
select[name="Type"]:focus{
	border: none;
	border-bottom: 2px solid #c0504d;
}
select[name="Sex"]{
	border: none;
	border-bottom: 2px solid #4f81bd;
	outline: none;
	font-size: 14pt;
}
select[name="Sex"]:focus{
	border: none;
	border-bottom: 2px solid #c0504d;
}