	body{
		font-family: segoe ui;
	}
	.login{
		border: 1px solid #191919;
		width: 500px;
		height: 300px;
		float: center;
		margin-top: 5%;
		box-shadow:  0px 5px 5px 5px #5e5f60;
	}
	.login form{
		padding-top: 5%;
	}
	.login input[type="text"], input[type="password"]{
		border: none;
		border-bottom: 2px solid #141f3b;
		font-size: 15pt;
		outline: none;
	}
	.login input[type="text"]:focus, input[type="password"]:focus{
		border: none;
		border-bottom: 2px solid #159f3f;
	}
	.login input[type="submit"]{
		border: 2px solid #900604;
		background-color: #B11F27;
		color: rgb(237, 237, 237);
		cursor: pointer;
		outline: none;
		height: 40px;
		font-size: 15pt;
	}
	.login p{
		font-size: 20pt;
		color: #2c2626;
	}